.cls_giftInfoCont {
  display: flex;
  border: 2px solid #e0e0e0;
}

.cls_giftInfo {
  flex: 1;
  text-align: center;
  padding: 5px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.cls_noDataMsg {
  padding: 10px;
  text-align: center;
}
