.cls_scrollCont {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.cls_category {
  display: flex;
  margin: 10px 0;
}
.cls_viewAllCont {
  display: flex;
  justify-content: flex-end;
}
.cls_categoryInfo {
  flex: 1;
}
.cls_categoryText {
  font-weight: bolder;
  border-bottom: 2px solid;
  padding: 5px 0;
}
